################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AskAMech/AskAMech/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech/obj
/AskAMech/.vs/AskAMech
