################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AskAMech/AskAMech/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech/obj
/AskAMech/.vs/AskAMech
/AskAMech/AskAMech.Core/obj
/AskAMech/AskAMech.Infrastructure/obj
/AskAMech/AskAMech.Core/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech.Infrastructure/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech.Web/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech.Web/obj
/AskAMech/AskAMech.Web.Tests/obj
/AskAMech/AskAMech.Web.Tests/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech.Infrastructure.Tests/obj
/AskAMech/AskAMech.Infrastructure.Tests/bin/Debug/netcoreapp3.1
/AskAMech/AskAMech.Core.Tests/obj
/AskAMech/AskAMech.Core.Tests/bin/Debug/netcoreapp3.1
