@model AskAMech.Core.UseCases.Responses.CreateUserRoleResponse
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <form id="RoleCreateForm">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">library_add</i>
                    Add Roles
                </h1>
            </div>
        </div>

        <hr />

        <div class="row md-Padding-Top-10">
            <div class="col-md-6">
                <input id="Description" asp-for="Description" class="form-control" placeholder="Enter New Role Description" />
            </div>
            <div class="col-md-2">
                <button id="create" type="submit" class="btn btn-primary full-width">Create</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <label id="ErrorMessage" class="text-danger"></label>
            </div>
        </div>

    </form>
</div>

<div id="rolesListDiv"></div>
<div id="createSuccessDiv"></div>

@section Scripts {
    <script src="~/js/Roles/create.js"></script>
}