@model AskAMech.Core.UseCases.Responses.CreateUserRoleResponse
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <form id="RoleCreateForm">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">person_add</i>
                    Add Description
                </h1>
            </div>
        </div>
        <hr />
        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="Description"></label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input asp-for="Description" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="row md-Padding-Top-10">
            <div class="col-md-2">
                <button id="create" type="submit" class="btn btn-primary full-width">Create</button>
            </div>
        </div>
    </form>
</div>
<br />

<form id="RolesList" asp-controller="Roles" asp-action="RolesList" method="GET">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">list</i>
                    Description
                </h1>
            </div>
        </div>
        <br />
        <div class="row md-Padding-Top-20">
            <div class="col-md-12">
                @if (Model.AllRoles.Any())
                {
                    <table id="RolesTable" class="table full-width">
                        <thead class="thead-dark">
                            <tr>
                                <th></th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                            @foreach (var item in Model.AllRoles)
                            {
                                <tr>
                                    <td>
                                        <a asp-route-id="@item.Id" title="View Description">

                                        </a>
                                    </td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h3>No Records Found</h3>
                }
            </div>
        </div>
    </div>
</form>

<div id="createSuccessDiv"></div>

@section Scripts {
    <script src="~/js/Roles/CreateRoles.js"></script>
}

