@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-1">
            <i class="material-icons md-70">admin_panel_settings</i>
        </div>
        <div class="col-md-5">
            <h1 class="display-4">Admin Dashboard</h1>
        </div>
    </div>

    <div class="row md-Padding-Top-50">
        <div class="col-md-4">
            <div id="divEmployees" title="View added Employees" onclick="Navigate(id)">
                <div class="info-box bg-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">View Employees</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divNewEmployees" title="Create new Employee" onclick="Navigate(id)">
                <div class="info-box bg-limegreen hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Create New Employee</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divCreateUserFromEmployee" title="Create A New User From An Employee Record" onclick="Navigate(id)">
                <div class="info-box bg-yellow hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">group_add</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Create User From Employee</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row md-Padding-Top-10">
        <div class="col-md-4">
            <div id="divNewQuestionCategory" title="Add New Question Category" onclick="Navigate(id)">
                <div class="info-box bg-lilac hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">post_add</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Add New Question Category</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divUserRole" title="Add New UserRole" onclick="Navigate(id)">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">library_add</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Add New User Role</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Dashboard/adminDashboard.js"></script>
}

