
@{
    ViewData["Title"] = "AdminDashboard";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-1">
            <i class="material-icons md-70">vertical_split</i>
        </div>
        <div class="col-md-4">
            <h1 class="display-4">Admin Dashboard</h1>
        </div>
    </div>

    <div class="row md-Padding-Top-50">
        <div class="col-md-4">
            <div id="divEmployees" title="View added Employees" onclick="Navigate(id)">
                <div class="info-box bg-limegreen hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">sta</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">View Employees</div>
                        <div class="material-icons-font"><b>5</b></div>@*Temp KPI Indicator For Illustration*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divNewEmployees" title="Create new Employee" onclick="Navigate(id)">
                <div class="info-box bg-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">star</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Create New Employee</div>
                        <div class="material-icons-font"><b>10</b></div>@*Temp KPI Indicator For Illustration*@
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divUserFromEmployee" title="Crreate user from employee" onclick="Navigate(id)">
                <div class="info-box bg-yellow hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">photo_filter</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Create user from employee</div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row md-Padding-Top-10">
        <div class="col-md-4">
            <div id="divNewQuestionCategory" title="Add New Question Category" onclick="Navigate(id)">
                <div class="info-box bg-purple hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">add_comment</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Add A New Question Category</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divUserRole" title="Add New UserRole" onclick="Navigate(id)">
                <div class="info-box bg-orange hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">account_circle</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">Add New User Role</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Dashboard/adminDashboard.js"></script>
}

