<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-danger">
                <h5 class="modal-title">Error</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>You must be logged in as a user to post an answer to this question.</h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ConfirmError" type="button" class="btn btn-primary">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Answers/answer.js"></script>