
@{
    ViewData["Title"] = "AddEmployee";
}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-1">
                <i class="material-icons md-70">vertical_split</i>
            </div>
            <div class="col-md-4">
                <h1 class="display-4">Add Employee</h1>
            </div>
        </div>

        <div class="col-md-4">
            <div id="divEmployees" title="View added Employees" onclick="Navigate(id)">
                <div class="info-box bg-blue hover-expand-effect">
                    <div class="icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <div class="content">
                        <div class="material-icons-font">View Employees</div>

                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script src="~/js/adminSubJSfiles/addEmployee.js"></script>
}
