@model AskAMech.Core.Register.Responses.RegisterResponse

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerLabel">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div asp-validation-summary="ModelOnly">
                    </div>

                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input asp-for="Username" placeholder="Username" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="Password" asp-for="Password" type="password" placeholder="Password" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input id="ConfirmPassword" asp-for="ConfirmPassword" type="password" placeholder="Re-enter Password" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <span id="PasswordMatcherValidation"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-11">
                            <input id="ShowPassword" Checkbox_CheckedChanged="modal" type="checkbox" class="md-Padding-Right-5">
                            <label>Show Password</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <label id="RegiseterErrorMessage" class="text-danger">@Model?.RegisterErrorMessage</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <img id="loadingImg" src="images/loading.gif" class="loadingImage hide" />
                <button type="button" class="btn btn-primary" data-save="modal">Register</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Regsiter/passwordMatcher.js"></script>