@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 text-center">
                <i class="material-icons md-45">commute</i>
                Welcome To AskAMech
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="homebackground">
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>

    <div class="row md-Padding-Top-50">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4>AskAMech is a public forum available to the anyone who has questions about vehicles.</h4>
                </div>
                <div class="card-body">
                    <p>
                        We believe in having a open community where communication about everything vehicle related can be discussed by public members as well as our very own certified mechanics who regularly
                        interact on the forum providing professional advice and answers to questions that have been posted.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row md-Padding-Top-50">
        <div class="col-md-6">
            <div class="card card-blue">
                <div class="card-header"><h4>Questions</h4></div>
                <div class="card-body">Work in progress</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-green">
                <div class="card-header"><h4>Answers</h4></div>
                <div class="card-body">Work in progress</div>
            </div>
        </div>

    </div>

</form>
