@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 text-center">
                <i class="material-icons md-45">commute</i>
                Welcome To AskAMech
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <div class="homebackground">
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    
    <div class="row md-Padding-Top-50">
        <div class="col-md-12">
            <h3>TODO: Descriptive Content About AskAMech</h3>
        </div>
    </div>

    <div class="row md-Padding-Top-50">
        <div class="col-md-4">
            <div class="card card-blue">
                <div class="card-header"><h4>Panel Title</h4></div>
                <div class="card-body">Work in progress</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-green">
                <div class="card-header"><h4>Panel Title</h4></div>
                <div class="card-body">Work in progress</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card card-orange">
                <div class="card-header"><h4>Panel Title</h4></div>
                <div class="card-body">Work in progress</div>
            </div>
        </div>
    </div>

</form>
