@{
    ViewData["Title"] = "AskAMech Privacy Policy";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4 text-center">
                <i class="material-icons md-45">privacy_tip</i>
                @ViewData["Title"]
            </h1>
        </div>
    </div>
    
    <div class="row">
        <p class="md-Padding-Top-10">
            At AskAMech, accessible from askamech.co.za, one of our main priorities is the privacy of our visitors and users.
            This Privacy Policy document contains types of information that is collected and recorded by
            askamech.co.za and how we use it.
        </p>

        <p class="md-Padding-Top-10">
            This Privacy Policy applies only to our online activities and is valid for visitors and users of our website with regards to the
            information that is shared and/or collected in askamech.co.za. This policy is not applicable to any information collected offline
            or via channels other than this website.
        </p>

        <p class="md-Padding-Top-10">
            The type of information we collect only includes your email address which is used to create a user account so that once as a registered
            user you will be able to partake in the activities of asking question as well as providing answers to other questions posted on
            askamech.co.za.
        </p>

        <p class="md-Padding-Top-10">
            AskAMech also allows for registered users to view the profiles of other registered users and as a result no private information such
            as email addresses will be displayed to other users, the types of information that will be displayed will include usernames associated
            with user accounts, profile descriptions which are created by the user of the account, indicators such as the number of questions
            and answers asked.
        </p>

        <p class="md-Padding-Top-10">
            <b>By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.</b>
        </p>

        <p class="md-Padding-Top-10">
            If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us
            at: support@askamech.co.za
        </p>
    </div>
</div>