@model AskAMech.Core.UseCases.Responses.CreateQuestionResponse
@{
    ViewData["Title"] = "Create Question";
}

<form id="CreateQuestionForm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">add_comment</i>
                    Create Question
                </h1>
            </div>
        </div>
        <hr />
        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="Question.Title">Title</label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <textarea id="Title" asp-for="Question.Title" class="form-control" required="required"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <span id="TitleValidation" asp-validation-for="Question.Title" class="text-danger"></span>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="Question.Description">Description</label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <textarea id="Description" asp-for="Question.Description" class="form-control" required="required"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <span id="DescriptionValidation" asp-validation-for="Question.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="Question.CategoryId">Question Category</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(x => x.Categories,
                    new SelectList(Model.Categories, "Id", "Description"),
                    new { @class = "form-control full-width", Id = "CategoryId", data_val = false })
            </div>
        </div>

        <div class="row md-Padding-Top-20">
            <div class="col-md-2">
                <button id="Create" class="btn btn-primary" type="button">Create Question</button>
            </div>
        </div>
    </div>
</form>

<div id="QuestionSuccessDiv"></div>

@section Scripts
{
    <script src="~/js/Question/create.js"></script>
}
