
<div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="compareLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="compareLabel">Verify Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>


                    <div class="row md-Padding-Top-10">
                        <div class="col-md-12">
                            <label for="Password"></label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="Password" for="Password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span for="Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <span id="PasswordMatcherValidation"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <label id="ErrorMessage" class="text-danger">@Model?.ErrorMessage</label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" data-save="modal">Verify</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/User/EditPasswordModal.js"></script>
