<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header badge-warning">
                <h5 class="modal-title">Delete</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Are you sure you want to Deactivate your account</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="DeactivateAccount" type="button" class="btn btn-danger">YES</button>
                    <button id="Cancel" type="button" class="btn btn-success">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/User/Delete.js"></script>