<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-success">
                <h5 class="modal-title">Success</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Your user profile has been successfully updated</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="Confirm" type="button" class="btn btn-success">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/User/edit.js"></script>