<div class="modal fade" id="UpdatePasswordModal" tabindex="-1" role="dialog" aria-labelledby="UpdatePasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdatePasswordLabel">Update Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div id="ValidateCurrentPasswordDiv">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-7">
                                <input id="CurrentPassword" type="password" class="form-control" placeholder="Enter Current Password" />
                            </div>
                            <div class="col-md-3">
                                <button id="VerifyCurrentPassword" type="button" class="btn btn-success full-width">Verify</button>
                            </div>
                        </div>
                    </div>

                    <div id="NewPasswordDiv">
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <input id="NewPassword" type="password" placeholder="Enter new password" class="form-control" />
                            </div>
                        </div>
                        <div class="row md-Padding-Top-10">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">
                                <input id="ConfirmNewPassword" type="password" placeholder="Confirm new password" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <label id="UpdatePasswordValidation" class="text-danger"></label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="UpdateNewPassword" type="button" class="btn btn-primary">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/User/edit.js"></script>