<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-success">
                <h5 class="modal-title">Success</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>The employee record has been successfully created.</h6>
                        </div>
                    </div>
                    <div class="row md-Padding-Top-10">
                        <div class="col-md-12">
                            <h6>Would you like to add another employee or be redirected back to your dashboard?</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="AddNewEmployee" type="button" class="btn btn-success">Add New Employee</button>
                    <button id="Dashboard" type="button" class="btn btn-success">Go To Dashboard</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Employee/createSuccess.js"></script>