@model AskAMech.Core.Employees.Responses.EditEmployeeUserPasswordResponse
<div class="modal fade" id="passwordResetErrorModal" tabindex="-1" role="dialog" aria-labelledby="passwordResetErrorLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-danger">
                <h5 class="modal-title">Error</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>@Model.ErrorMessage</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ConfirmPasswordResetResponse" type="button" class="btn btn-warning">OK</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Employee/edit.js"></script>