<div class="modal fade" id="ConfirmEmployeePasswordReset" tabindex="-1" role="dialog" aria-labelledby="ConfirmEmployeePasswordResetLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Are you sure you want to rest the password for this employee?</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h6>Resetting the password will default the employees user password to: Password@1</h6>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="ResetEmployeePassword" type="button" class="btn btn-danger">Yes</button>
                    <button id="CancelResetEmployeePassword" type="button" class="btn btn-secondary">No</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/Employee/edit.js"></script>