@model AskAMech.Core.UseCases.Responses.EmployeeResponse
@{
    ViewData["Title"] = "AddEmployee";
}


<div class="container" id="addUser" role="dialog">
    <div class="form-control">
        <div class="content">
            <h5 id="formLabel">Add Employee</h5>
                <form id="myForm">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input asp-for="FirstName" placeholder="FirstName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input asp-for="LastName" placeholder="LastName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input asp-for="IdNumber" placeholder="Id Number" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="IdNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row md-Padding-Top-10">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-10">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </form>

                <div class="modal-footer">
                    <img id="loadingImg" src="images/loading.gif" class="loadingImage hide" />
                    <button type="button" id="submitBtn" class="btn btn-primary">Add Employee</button>
                    <button type="button" id="cancelBtn" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script src="~/js/adminSubJSfiles/addEmployee.js"></script>
    }



</div>