@model AskAMech.Core.UseCases.Responses.EditEmployeeResponse
@{
    ViewData["Title"] = "Edit Employee";
}

<div class="container">
    <form id="employeeUpdateForm" method="Post">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">
                    <i class="material-icons md-45">person_add</i>
                    Update New Employee
                </h1>
            </div>
        </div>
        <hr />
        @Html.HiddenFor(x => x.Id, new { id = "Id" })
        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input asp-for="FirstName" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input asp-for="LastName" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="IdNumber"></label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input asp-for="IdNumber" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="IdNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label asp-for="Email"></label>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input asp-for="Email" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

        <div class="row md-Padding-Top-20">
            <div class="col-md-12">
                <label>Is Active Employee: @Convert.ToBoolean(Model.IsActive)</label>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-12">
                <label id="ErrorMessage" class="text-danger"></label>
            </div>
        </div>

        <div class="row md-Padding-Top-10">
            <div class="col-md-2">
                <button id="Update" type="button" class="btn btn-primary full-width">Update</button>
            </div>
            <div class="col-md-3">
                <button id="Deactivate" type="button" class="btn btn-primary full-width">Deactivate Employee</button>
            </div>
            <div class="col-md-2">
                <a asp-action="Index" asp-controller="Employee">Back to list</a>
            </div>
        </div>
    </form>
</div>

<div id="createSuccessDiv"></div>

@section Scripts {
    <script src="~/js/Employee/edit.js"></script>
}
